body {
  margin: 0;
}

td, th {
  text-align: center;
  padding: 12px;
}

th.nutri-table-header:first-child {
  border-top-left-radius: 6px;
}

th.nutri-table-header:last-child {
  border-top-right-radius: 6px;
}

td:first-child, th:first-child {
  text-align: left;
}

.nutri-table-row:nth-child(even),
.nutri-table-row-no-hover:nth-child(even) {
  background-color: #e6e6e6;
}

.nutri-table-row:hover {
  background-color: #d0d0d0;
}

.anchor > .ant-anchor > .ant-anchor-link {
  font-size: 18px;
  font-weight: 550;
}

.nutri-anchor > .ant-anchor {
  justify-content: center;
}

.menu-item-card.ant-card > .ant-card-body {
  height: 110px;
}

.menu-item-card.ant-card:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px !important;
}

.menu-item-card.ant-card:hover > .ant-card-cover > img {
  opacity: 0.85;
}

.modal-close-icon {
  font-size: 30px;
  color: #e6e6e6;
}

.nutri-expand-close-icon {
  font-size: 28px;
  margin: 16px 0 0 16px;
}

.expand-icon {
  font-size: 20px;
}

.modal-close-icon:hover, .expand-icon:hover, .nutri-expand-close-icon:hover {
  color: #C11316;
}

.bag-modify-text {
  cursor: pointer;
}

.bag-modify-text:hover {
  text-decoration: underline;
}

.bag-list {
  border: none;
}

.bag-list.ant-list > .ant-spin-nested-loading > .ant-spin-container > ul.ant-list-items {
  height: 55vh;
  overflow-y: auto;
}

.nutri-category-section {
  margin-left: 1%;
  margin-right: 1%;
}

.nutri-category-section:not(:first-child) {
  margin-top: 100px;
}

.recharts-default-legend > li {
  margin-right: 24px !important;
}

.ant-list-header {
  border-bottom: 1px solid rgba(5, 5, 5, 0.12);
}

@media (max-device-width: 1600px) { 
  .menu-item-card.ant-card > .ant-card-body {
    padding: 12px;
  }
}

@media (max-device-width: 1199px) {
  .menu-item-card.ant-card > .ant-card-body {
    height: 90px;
  }
}

@media (max-device-width: 991px) {
  .anchor > .ant-anchor {
    background-color: #FFFFFF;
    padding: 0 20px;
  }

  ul.ant-menu.ant-menu-sub.ant-menu-vertical {
    margin: 0;
  }

  .menu-item-card.ant-card > .ant-card-body {
    height: 80px;
  }

}

@media (max-device-width: 768px) {
  .nutri-anchor > .ant-anchor {
    padding-left: 15%;
  }
}

@media (max-device-width: 660px) {
  .nutri-anchor > .ant-anchor {
    padding-left: 25%;
  }
}

@media (max-device-width: 605px) {
  .nutri-anchor > .ant-anchor {
    padding-left: 40%;
  }
}

@media (max-device-width: 550px) {
  .nutri-anchor > .ant-anchor {
    padding-left: 60%;
  }
}

@media (max-device-width: 475px) {
  .nutri-anchor > .ant-anchor {
    padding-left: 80%;
  }
}
@media (max-device-width: 425px) {
  .nutri-anchor > .ant-anchor {
    padding-left: 100%;
  }
}

@media (max-device-width: 370px) {
  .nutri-anchor > .ant-anchor {
    padding-left: 390px;
  }
}