body {
  margin: 0;
}

.anchor > .ant-anchor > .ant-anchor-link {
  font-size: 18px;
  font-weight: 550;
}

.menu-item-card.ant-card > .ant-card-body {
  height: 110px;
}

.menu-item-card.ant-card:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px !important;
}

.menu-item-card.ant-card:hover > .ant-card-cover > img {
  opacity: 0.85;
}

.modal-close-icon {
  font-size: 30px;
  color: #e6e6e6;
}

.modal-close-icon:hover {
  color: #C11316;
}

.bag-modify-text {
  cursor: pointer;
}

.bag-modify-text:hover {
  text-decoration: underline;
}

.bag-list {
  border: none;
}

.bag-list.ant-list > .ant-spin-nested-loading > .ant-spin-container > ul.ant-list-items {
  height: 60vh;
  overflow-y: auto;
}

@media (max-device-width: 1600px) { 
  .menu-item-card.ant-card > .ant-card-body {
    padding: 12px;
  }
}

@media (max-device-width: 1199px) {
  .menu-item-card.ant-card > .ant-card-body {
    height: 90px;
  }
}

@media (max-device-width: 991px) {
  .anchor > .ant-anchor {
    background-color: #FFFFFF;
    padding: 0 20px;
  }

  ul.ant-menu.ant-menu-sub.ant-menu-vertical {
    margin: 0;
  }

  .menu-item-card.ant-card > .ant-card-body {
    height: 80px;
  }

}
